h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.ol,
ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 768px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1157px) {
  .section {
    padding: 96px 0;
  }
}
/* ============== TABLET GENERAL STYLES ==================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* ============== /TABLET GENERAL STYLES ==================== */
/* ============== DESKTOP GENERAL STYLES ==================== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding: 120px 0;
  }
}
/* ============== /DESKTOP GENERAL STYLES ==================== */
/* ============== MOBILE HEADER STYLES ======================= */
.menu-list {
  display: none;
}

.contacts {
  display: none;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: #2e2f42;
}

.top-menu {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .top-menu {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }

  .mobile-menu-burger {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
    border: none;
  }

  .mobile-menu-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999;
    height: 100%;
    width: 100%;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 40px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .mobile-nav-menu {
    display: flex;
    margin-bottom: auto;
  }

  .mobile-nav-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mobile-nav-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-menu-link:hover,
  .mobile-nav-menu-link:focus {
    color: #404bbf;
  }

  .mobile-main-link {
    color: #404bbf;
  }

  .container-adress-social {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-contacts-link {
    color: #434455;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contacts-link:hover,
  .mobile-menu-contacts-link:focus {
    color: #404bbf;
  }

  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .mobile-menu-social-list-items {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: #404bbf;
  }

  .mobile-menu-social-icon {
    fill: #f4f4fd;
  }
}
/* ============== /MOBILE HEADER STYLES ===================== */
/* ============== TABLET HEADER STYLES ====================== */
@media screen and (min-width: 768px) {
  .mobile-menu-burger {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .menu {
    display: flex;
  }

  .logo {
    margin-right: 120px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
  }

  .contacts {
    display: flex;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-items {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-items:hover,
  .contacts-items:focus {
    color: #404bbf;
  }
}
/* ============== /TABLET HEADER STYLES ===================== */
/* =============== DESKTOP HEADER STYLES ==================== */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-items {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-mail {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* =============== /DESKTOP HEADER STYLES =================== */
/* ============== MOBILE SOLUTIONS STYLES =================== */
.top-section {
  padding: 72px 0px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .top-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/Dark-bg@2x.jpg);
  }
}

.top-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.jump {
  background: var(--IRIS, #4d5ae5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
}

.click-button {
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.jump:hover,
.jump:focus {
  background: var(--OCEAN, #404bbf);
}
/* ============== /MOBILE SOLUTIONS STYLES ================== */
/* ============== TABLET SOLUTIONS STYLES =================== */
@media screen and (min-width: 768px) {
  .top section {
    padding: 112px 0px;
    min-width: 768px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) {
    .top-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/Dark-bg@2x.jpg);
    }
  }

  .top-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* ============== /TABLET SOLUTIONS STYLES ================== */
/* ============== DESKTOP SOLUTIONS STYLES ================== */
@media screen and (min-width: 1158px) {
  .top-section {
    padding: 188px 0px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .main-solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/people-office@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
}
/* ============== /DESKTOP SOLUTIONS STYLES ================ */
/* ============== MOBILE FEATURES STYLES =================== */
.icon-container {
  display: none;
}

.features {
  background-color: #fff;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.description {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /MOBILE FEATURES STYLES =================== */
/* ============== TABLET FEATURES STYLES ==================== */
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .icon-container {
    display: none;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages {
    text-align: start;
  }
}
/* ============== /TABLET FEATURES STYLES ================== */
/* ============== DESKTOP FEATURES STYLES ================== */
@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }

  .advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
  }

  .features-item {
    gap: 24px;
  }
}
/* ============== /DESKTOP FEATURES STYLES ================= */
/* ============== MOBILE OUR TEAM STYLES =================== */
.team-container {
  max-width: 296px;
}

.team {
  background-color: #f4f4fd;
}

.second-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.person-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-person {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  padding: 32px 0;
}

.employee {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  color: #434455;
  text-align: center;
  font-size: 16;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  width: 40px;
  height: 40px;
}

.team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link:hover,
.team-list-link:focus {
  background-color: #404bbf;
}

.team-list-icon {
  fill: #f4f4fd;
}
/* ============== /MOBILE OUR TEAM STYLES =================== */
/* ============== TABLET OUR TEAM STYLES ==================== */
@media screen and (min-width: 768px) {
  .team-container {
    min-width: 584px;
  }

  .person-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }

  .team-person {
    flex-basis: calc((100% - 24px) / 2);
  }
}
/* ============== /TABLET OUR TEAM STYLES ================== */
/* ============== DESKTOP OUR TEAM STYLES ================== */
@media screen and (min-width: 1158px) {
  .team-container {
    min-width: 1158px;
  }

  .team-items-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-list {
    width: calc((100% - 72px) / 4);
  }
}
/* ============== /DESKTOP OUR TEAM STYLES ================= */
/* ============== MOBILE PORTFOLIO STYLES =================== */
.portfolio {
  background-color: #fff;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (max-width: 767px) {
  .overlay {
    display: none;
  }
}

.portfolio-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.description-items {
  border: 1px solid #f4f4fd;
  border-top: none;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding: 32px 16px;
}
/* ============== /MOBILE PORTFOLIO STYLES ===================== */
/* ============== TABLET PORTFOLIO STYLES ================== */
@media screen and (min-width: 768px) {
  .portfolio-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-items-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-items-list:hover .overlay {
    transform: translate(0);
  }

  .portfolio-items-list:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
/* ============== /TABLET PORTFOLIO STYLES ================== */
/* ============== DESKTOP PORTFOLIO STYLES ================== */
@media screen and (min-width: 1158px) {
  .portfolio-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-items-list {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* ============== /DESKTOP PORTFOLIO STYLES ==================== */
/* ============== MOBILE FOOTER STYLES ========================= */
.end {
  background: #2e2f42;
}

.container-with-logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-logo {
  text-align: center;
}

.footer-end-accent {
  color: #f4f4fd;
}

.end-description {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-social-list {
  gap: 16px;
}

.subscribe-description {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form-input {
  width: 288px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.subscribe-form-input:focus {
  border-color: #4d5ae5;
}

.subscribe-form-label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-form-input::placeholder {
  color: #fff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* ============== /MOBILE FOOTER STYLES ======================= */
/* ============== TABLET FOOTER STYLES ======================== */
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    margin: 0px;
  }

  .container-with-logo {
    margin-bottom: 0px;
  }

  .footer-logo {
    text-align: start;
    padding: 0px;
    margin: 0px;
  }

  .end-description {
    width: 264px;
  }

  .footer-social-icons {
    margin-bottom: 0px;
  }

  .footer-title {
    text-align: start;
  }

  .footer-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .subscribe-description {
    text-align: left;
  }

  .subscribe-form-input {
    width: 264px;
    margin-bottom: 0px;
  }
}
/* ============== /TABLET FOOTER STYLES ====================== */
/* ============== DESKTOP FOOTER STYLES ====================== */
@media screen and (min-width: 1158px) {
  .end {
    padding: 100px 0px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0px;
    min-width: 1158px;
  }

  .container-with-logo {
    margin-right: 120px;
  }

  .footer-social-icons {
    margin-right: 80px;
  }

  .end-description {
    max-width: 264px;
  }
}
/* ============== /DESKTOP FOOTER STYLES ==================== */
/* =================== MOBILE BACKDROP ====================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* =================== /MOBILE BACKDROP ====================== */
/* ================= MOBILE MODAL WINDOW ===================== */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-window-desc {
  text-align: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  max-width: 256px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}
.review-form-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.review-form-input:focus {
  border-color: #4d5ae5;
}
.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}
.container-textarea {
  margin-bottom: 16px;
}
.review-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.review-form-comment:focus {
  border-color: #4d5ae5;
}
.review-form-comment::placeholder {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-own-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}
.review-form-checkbox
  + .review-form-checkbox-label
  .review-form-own-checkbox-icon {
  opacity: 1;
}
.accent-color {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.review-submit-btn {
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-submit-btn:hover,
.review-submit-btn:focus {
  background-color: #404bbf;
}
/* ================= /MOBILE MODAL WINDOW ===================== */
/* ================= TABLET MODAL WINDOW ===================== */
@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-window-desc {
    max-width: 360px;
  }
}
/* ================= /TABLET MODAL WINDOW ===================== */
/* ================= DESKTOP MODAL WINDOW ===================== */
@media screen and (min-width: 1158px) {
  .review-form-input {
    padding-left: 38px;
  }
}
/* ================= /DESKTOP MODAL WINDOW ===================== */
